<query-editor-row query-ctrl="ctrl" can-collapse="false" has-text-edit-mode="true">
    <fieldset ng-disabled="ctrl.state.isLoaded">
        <!--Row format-->
        <div class="gf-form" ng-if="ctrl.target.rawQuery">
        <textarea class="gf-form-input" rows="5" ng-model="ctrl.target.target" spellcheck="false"
                  ng-blur="ctrl.onChangeInternal()"/>
        </div>
        <!--Expanded view-->


        <!--Entity row-->
        <div class="gf-form gf-form--grow">
            <label class="gf-form-label query-keyword width-10">ENTITY</label>
            <input type="text"
                   class="gf-form-input"
                   ng-model="ctrl.target.entity"
                   ng-blur="ctrl.entityBlur($event)"
                   bs-typeahead="ctrl.suggest.entities"
                   spellcheck='false'
                   placeholder="entity name">
        </div>

        <!--Metric row-->
        <div class="gf-form gf-form--grow">
            <label class="gf-form-label query-keyword width-10">METRIC</label>
            <input type="text"
                   class="gf-form-input"
                   ng-model="ctrl.target.metric"
                   spellcheck='false'
                   bs-typeahead="ctrl.suggest.metrics"
                   placeholder="alias patterns">
        </div>

        <!--Aggregation row-->
        <div class="gf-form gf-form--grow">
            <label class="gf-form-label query-keyword width-10">AGGREGATION</label>
            <div class="gf-form-select-wrapper">
                <select class="gf-form-input gf-size-auto"
                        ng-model="ctrl.target.aggregation"
                        ng-options="item.value as item.label for item in ctrl.suggest.aggregations"
                >
                </select>
            </div>
        </div>

    </fieldset>
</query-editor-row>
